doctype
html
    head
        link(rel='stylesheet',href='/public/vendor/bootstrap/dist/css/bootstrap.css' ,type='text/css')
        link(rel='stylesheet',href='/public/vendor/bootstrap/dist/css/bootstrap-theme.css' ,type='text/css')
        link(rel='stylesheet',href='/public/vendor/bootstrap/dist/css/bootstrap.css.map' ,type='text/css')
        link(href="/favicon.ico",rel="shortcut icon", type="image/x-icon")
        link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' ,type='text/css')
    body.col-sm-offset-1.col-sm-10
        h1 Hello World
        table.table.table-bordered.table-striped.table-hover
            thead
                tr
                    td Name
                    td Profession
            tbody
                tr
                    td  Ashutosh
                    td  Consultant
                tr
                    td  Amar
                    td  ITO
